
- var stylesheet = "admin"
- var title = "Admin"
include ../_header

.container
  h1 Operating Partner Dashboard
  
  section.active-vote
    h2 Active vote
    - if (activeCompany) {
      .active_vote_container
        a(href='/companies/#{activeCompany.id}') #{activeCompany.get('name')}
    - } else {
      div No active vote.
      a(href='/new-vote')
    - }

  section.voting-history
    h2 Recent votes
    - if (!_.isEmpty(companies)) {
      include ../companies/_list
    - } else {
      div No voting history.
    - }

include ../_footer