footer.container
  .copyright Copyright © 2016 Balderton Capital. All rights reserved.

script(src='//code.jquery.com/jquery-1.11.3.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
script(src='/scripts/trix.js')
script(src='/scripts/main.js')