- var title = 'New Vote'
include ../_header

.container
  h1 New Vote

  h3 Company Information
  form(method='post', action='/companies')
    .form-group
      label(for='name') Name
      input#name.form-control(type='text', name='name', placeholder='Name', required)

    .form-group
      .btn-group
        input.btn.btn-primary(type='submit', value='Create Company')
      .btn-group
        a.btn.btn-default(href='/companies') Cancel

include ../_footer