- var title = vote.company.get('name')
- var stylesheet = 'vote'
include ../_header

.container
  a(href='/companies') Back to Investments
  
  section#vote_information
    include ../votes/_vote

  - if (current_user.get('isOp')) {
  section#company_actions
    h3 Admin Actions
    .form-group
      .btn-group
        a.btn.btn-default(href='/companies/#{vote.company.id}/edit') Edit Company
      .btn-group
        form(method='POST', action='/companies/#{vote.company.id}')
          input(type='hidden', name='_method', value='DELETE')
          input.btn.btn-danger(type='submit', value='Delete Company & votes')
  - }

include ../_footer