include ../_header

.container
  section#company_information
    h1 Company: #{company.get('name')}
    h3 Result:
    - if (company.get('result')) {
      #{company.get('result')}
    - } else if (company.get('isVotingOpen')) {
      Vote open
    - } else {
      Vote cancelled
    - }

  section#company_voters
    h3 Partner votes:
    - voters.forEach(function(voter) {
    - })

  section#company_actions
    a.btn.btn-default(href='/companies/#{company.id}/edit') Edit
    form(method='POST', action='/companies/#{company.id}')
      input(type='hidden', name='_method', value='DELETE')
      input.btn.btn-danger(type='submit', value='Delete')

include ../_footer